## Credit Scoring Classification

### Description:

Over the years, the company has collected basic bank details and gathered a lot of credit-related information. The management wants to build an intelligent system to segregate the people into credit score brackets to reduce the manual efforts.

#### Task:
Build a machine learning model that can classify the credit score

### Step 1: Importing Requirements

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
df = pd.read_csv('Dataset/train.csv')
df.head()

C:\Users\MSI 11\AppData\Local\Temp\ipykernel_21604\239670640.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Dataset/train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

### Step 2: Gain Information from Dataset

In [20]:
print('This dataset have', df.shape[0], 'rows and', df.shape[1], 'columns')
print('Number of integer types: ', df.select_dtypes(include=['int64']).shape[1])
print('Number of object/string types: ', df.select_dtypes(include=['object']).shape[1])
print('Number of decimal types: ', df.select_dtypes(include=['float']).shape[1])
print('Number of boolean types: ', df.select_dtypes(include=['bool']).shape[1])
print('Number of datetime types: ', df.select_dtypes(include=['datetime64']).shape[1])
print('Number of missing data: ', df.isna().sum().sum())

This dataset have 100000 rows and 28 columns
Number of integer types:  4
Number of object/string types:  20
Number of decimal types:  4
Number of boolean types:  0
Number of datetime types:  0
Number of missing data:  60071